* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: #121212; */
}

#main_input {
  background-color: whitesmoke;
  margin-top: 20px;
  padding: 10px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(28, 28, 28);
  /* box-shadow: -2px -2px 5px rgb(28, 28, 28); */
}

#text_field {
  position: relative;
  right: 30px;
  padding: 5px;
  height: 30px;
  width: 220px;
}

label {
  font-size: large;
}

h2 {
  /* color: #ffffff; */
  font-size: 40px;
}

#add {
  height: 30px;
  width: 60px;
  position: relative;
  bottom: 30px;
  left: 115px;
}

.list {
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f4f6f8;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.task-text {
  flex-grow: 4;
}

.completed .task-text {
  text-decoration: line-through;
  color: rgb(94, 93, 93);
}

.mark_btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 10px;
}

.delete_btn {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
